{% assign number = number %}
{% assign customimage_url = customimage_url %}
{{ 'style--whatsappButton.css' | asset_url | stylesheet_tag }}

{% if customer.id != blank %}
  {% assign consultantcontact = customer.metafields.admin.consultant.value.contact_number %}
  {{ consultantcontact }}
  {{ customer.id | prepend: 'userid: ' }}
{% endif %}

{% assign image_url = 'https://cdn.shopify.com/s/files/1/0891/0340/1270/files/whatsapp--icon.png?v=1728812122' %}
{% if customimage_url != blank %}
  {% assign image_url = customimage_url %}
{% endif %}
<div id="whatsapp_button_wrapper">
  <a href="{{ number | prepend:"https://wa.me/"}}">
    <img
      src="{{image_url}}"
      alt="whatsApp--icon"
      height="100px"
      width="100px"
  ></a>
</div>
